<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mammographic Mass Model</title>
</head>
<body>
    <h1>The Mammographic Mass prediction result are:</h1>
    <p>Age of the  person is: {{ data['age'] }}</p>
    <p>Nominal Shape of Mass: {{ data['shape'] }}</p>
    <p>Nominal Margin of Mass: {{ data['margin'] }}</p>
    <p>Nominal Density of Mass: {{ data['density'] }}</p>
    <p>The Severity Mass result is Benign or Malignant (0/1): {{ data['Severity'] }}</p>

</body>
</html>
